/* mobile device media screen max 576px */
@media screen and (max-width: 576px) {
  .ham-burger {
    display: block;
    color: #ffffff;
  }

  .nav-menu .navlinks {
    display: none;
  }

  .navbar {
    width: 82%;
  }

  .left-text .left-title,
  #textstyle {
    font-size: 2.25rem;
    font-weight: 800;
    margin-top: 3.188rem;
    width: 17rem;
  }

  .left-text {
    width: auto;
  }

  .banner-section {
    width: 22rem;
    height: 58.068rem;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .button-primary,
  .button-secondary {
    padding: 15px;
  }

  .top-label {
    top: 90%;
    margin-left: 54%;
    width: 45%;
    height: 15%;
  }

  .top-label .label-title {
    font-size: 1.55rem;
    font-weight: 900;
  }

  .top-label .label-desc {
    font-size: 0.73rem;
    font-weight: 400;
  }

  .right-section img {
    margin-right: auto;
  }

  .bottom-label {
    top: 60%;
    margin-left: 5%;
    width: 51%;
    height: 13%;
  }

  .bottom-label .circle {
    width: 30px;
    height: 30px;
  }

  .bottom-label .left-label-title {
    font-size: 1.19rem;
    margin-left: 2.75rem;
  }

  .bottom-label .left-label-desc {
    font-size: 0.85rem;
    margin-left: 2.75rem;
  }

  span.playbtn {
    color: #ffffff;
    float: right;
    margin-left: 14%;
    margin-top: 79%;
    position: absolute;
    z-index: 1;
    background: transparent;
  }

  /* end of top sections styles */

  /* your habits section style */
  .your-habits {
    /* flex-direction: column; */
    margin-top: 540px;
    margin-bottom: 566px;
  }

  .image-section {
    display: flex;
    flex-direction: column;
  }

  .movement,
  .time,
  .practice {
    margin-bottom: 20px;
  }

  /* extra mile */

  .extra-mile {
    flex-direction: column;
    height: max-content;
  }

  .extra-mile .extra-left-content {
    width: 100%;
  }

  .extra-title {
    font-size: 2rem;
  }
  .extra-desc {
    width: 100%;
    font-size: 0.875rem;
  }

  .extra-right-img {
    width: 100%;
  }
  .extra-right-img img {
    width: 17.938rem;
    position: absolute;
    top: 11%;
    left: -43%;
    transform: scale(1.9);
  }
}

/* large screen device */
@media screen and (min-width: 993px) {
  .ham-burger {
    display: none;
  }

  .navlinks a {
    display: inline-block;
  }
}
