/* mobile device media screen max 576px */
@media screen and (max-width: 576px) {
  .ham-burger {
    display: block;
    color: #ffffff;
  }

  .nav-menu .navlinks {
    display: none;
  }

  .navbar {
    width: 82%;
  }

  .left-text .left-title,
  #textstyle {
    font-size: 2.25rem;
    font-weight: 800;
    margin-top: 3.188rem;
    width: 17rem;
  }

  .left-text {
    width: auto;
  }

  .banner-section {
    width: 22rem;
    height: 58.068rem;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .button-primary,
  .button-secondary {
    padding: 15px;
  }

  .top-label {
    top: 90%;
    margin-left: 54%;
    width: 46%;
    height: 15%;
  }

  .top-label .label-title {
    font-size: 1.55rem;
    font-weight: 900;
  }

  .top-label .label-desc {
    font-size: 0.73rem;
    font-weight: 400;
  }

  .right-section img {
    margin-right: auto;
  }

  .bottom-label {
    top: 60%;
    margin-left: 5%;
    width: 51%;
    height: 13%;
  }

  .bottom-label .circle {
    width: 30px;
    height: 30px;
    top: 28%;
  }

  .bottom-label .left-label-title {
    font-size: 1.19rem;
    margin-left: 2.75rem;
  }

  .bottom-label .left-label-desc {
    font-size: 0.85rem;
    margin-left: 2.75rem;
  }

  span.playbtn {
    color: #ffffff;
    float: right;
    margin-left: 14%;
    margin-top: 79%;
    position: absolute;
    z-index: 1;
    background: transparent;
  }

  /* end of top sections styles */

  /* your habits section style */
  .your-habits {
    /* flex-direction: column; */
    margin-top: 540px;
    margin-bottom: 566px;
  }

  .image-section {
    display: flex;
    flex-direction: column;
  }

  .movement,
  .time,
  .practice {
    margin-bottom: 20px;
  }

  /* extra mile */

  .extra-mile {
    flex-direction: column;
    height: max-content;
  }

  .extra-mile .extra-left-content {
    width: 100%;
  }

  .extra-title {
    font-size: 2rem;
  }
  .extra-desc {
    width: 100%;
    font-size: 0.875rem;
  }

  .extra-right-img {
    width: 100%;
    height: 10.639rem;
    margin-top: 31px;
  }
  .extra-right-img img {
    width: 17.938rem;
    position: absolute;
    top: 11%;
    left: -43%;
    transform: scale(1.9);
  }

  .button-primary-2 {
    padding: 15px;
    width: 100%;
  }

  .bmi-content {
    width: 100%;
  }

  .bmi-content .bmi-top-title {
    font-size: 2rem;
    align-items: flex-start;
  }

  .bmi-top-desc {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
  }

  /* bmi chart conent */
  .bmi-content-full {
    height: fit-content;
  }

  .bmi-chart-content {
    flex-direction: column;
    align-items: self-start;
  }

  .bmi-cal-chart-table {
    flex-direction: column;
  }

  .form-container {
    width: 100%;
  }

  .form-container #btn-mbl {
    width: 14rem;
    margin-bottom: 54px;
  }

  .chart-title,
  .bmi-title {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 23px;
  }

  /* .bmi-form {
    width: 90%;
  } */

  table {
    margin-bottom: 42px;
  }

  .team-title {
    font-size: 2rem;
    font-weight: 900;
  }

  .team-container {
    /* margin-top: 380px; with 5 img */
    margin-top: 270px;
  }

  .team-grid-container {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
  }

  .meet-team {
    /* height: 36rem;  with 5 img*/
    height: 30rem;
  }

  .trainer {
    margin-top: -10px;
  }

  .trainer::before {
    top: 20px;
    height: 93%;
  }

  .trainer img {
    margin: 20px 0;
    height: 200px;
  }

  .trainer-title {
    margin-top: -28%;
    background: transparent;
  }

  /* trainer image display only 4 */
  .trainer:nth-child(1) {
    display: none; /* first trainer hide */
  }

  #trainer5 {
    order: 2;
  } /*Cody Fisher*/
  #trainer3 {
    order: 3;
  } /*Darrell Steward*/
  #trainer4 {
    display: none;
  } /*Dianne Russell*/
  #trainer6 {
    order: 4;
  } /*Theresa Webb*/

  /* footer section responsive */
  .footer {
    margin-top: 577px;
  }

  .footer-container {
    height: fit-content;
  }
  .footer-main {
    height: fit-content;
    flex-direction: column;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-nav h3 {
    margin-top: 20px;
    font-size: 1.875rem;
  }

  .footer-bottom {
    margin-top: 72px;
  }

  .footer-bottom p {
    text-align: left;
    font-size: 1.1rem;
  }

  /* price part */
  .pricing-box-main {
    flex-direction: column;
  }

  .plan-container {
    height: fit-content;
  }

  .h2-title {
    font-size: 29px;
    line-height: 45px;
  }

  .top-title .h3-subtitle {
    font-size: 18px;
    line-height: 18px;
  }

  .price-plan {
    width: 100%;
  }

  .pricing-table {
    padding-bottom: 0;
  }
}

/* mobile devices with max-width less than 576px */
@media screen and (max-width: 400px) {
  .banner-section {
    padding: 0px 12px;
    max-width: 100%;
  }

  .extra-mile,
  .your-habits,
  .bmi-content,
  .pricing-table,
  .team-container,
  .footer-container {
    /* padding: 0 10px; */
    max-width: 100%;
  }

  .left-desc,
  .extra-desc {
    margin-bottom: 15px;
  }

  .bottom-label .left-label-desc {
    font-size: 0.8rem;
    margin-left: 2.75rem;
  }

  .habit-content .content-title {
    font-size: 2rem;
  }

  .join-btn {
    font-size: 0.875rem;
    padding: 15px;
  }

  .pricing-title-box {
    padding: 15px;
  }

  .button-primary,
  .button-secondary {
    width: 46%;
    margin: 5px 0;
    font-size: 0.79rem;
  }

  .button-primary-2,
  .pricing-box-main .plan-container {
    /* width: 100%; */
    margin: 5px 0;
  }

  .top-label {
    top: 90%;
    margin-left: 52%;
    width: 48%;
    height: 16%;
  }

  .bottom-label {
    top: 61%;
    margin-left: 4%;
    width: 53%;
    height: 15%;
  }

  span.playbtn {
    margin-top: 80%;
  }

  .form-container #btn-mbl {
    width: 100%;
  }

  .trainer-title,
  .sub-title {
    margin-top: -69px;
  }
  .right-section img,
  .extra-mile .extra-right-img img {
    max-width: 100%;
    height: auto;
  }

  .navbar,
  .footer-main,
  .footer-nav,
  .footer-bottom {
    padding: 0;
  }

  .team-grid-container {
    grid-template-columns: 1fr;
  }

  .footer-brand h1 {
    font-size: 3.375rem;
  }

  .trainer::before {
    height: 92%;
  }
}

@media screen and (min-width: 320px) {
  .extra-mile {
    padding: 15px;
  }

  .form-container input,
  .form-container select {
    width: 100%;
  }

  .trainer img {
    margin: 20px 0;
    height: 171px;
  }

  .extra-right-img {
    margin-top: 50px;
  }

  .banner-section {
    padding: 0px 30px;
  }

  .button-primary,
  .button-secondary {
    width: 100%;
    font-size: 1rem;
  }

  .top-label {
    top: 113%;
    margin-left: 54%;
    width: 50%;
    height: 21%;
  }

  .bottom-label {
    top: 65%;
    margin-left: 2%;
    width: 66%;
    height: 16%;
  }

  .team-container {
    margin-top: 210px;
  }
}

/* large screen device */
@media screen and (min-width: 993px) {
  .ham-burger {
    display: none;
  }

  .navlinks a {
    display: inline-block;
  }
}
