/* font-family: "Allura", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

/* font-family: "Inter", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #181818;
}

display-flex {
  display: flex;
}

/* navbar style */
.navbar {
  width: 69%;
  height: 80px;
  /* border: 1px solid red; */
  margin: 57px auto auto auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  border: 1px solid #323232;
  border-radius: 39px;
  padding: 5px;
  width: 450px;
  justify-content: center;
  align-items: center;
}

nav ul li {
  color: #ffffff;
  margin-right: 47px;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 auto;
}

.navbar .logo-text {
  font-family: "Inter", sans-serif;
  color: #e6533c;
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
}

.active {
  width: 101px;
  height: 45px;
  background-color: #e6533c;
  padding: 10px;
  border-radius: 26px;
  text-align: center;
  margin-left: 2px;
}

nav ul li #navicon {
  display: none;
}
